<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Posts</title>
</head>
<body>
    <span class ="theme">
        <i class="fa-solid fa-circle-half-stroke">Theme</i>
    </span>
    <h1>NOTES</h1>
    <a href="http://localhost:8080/posts/new"><i class="fa-sharp fa-solid fa-plus"></i>New Note</a>
    <% for(post of posts){ %>
        <div class="post">
            <div class="user">
                <h3> <%= post.username %></h3>
            </div>
            <div class="content">
                <h4> <%= post.content %></h4>
            </div>
        <br>
        <div class="achor">
            <div class="pop-container">
                <a href="http://localhost:8080/posts/<%= post.id %>">
                    <i class="fa-solid fa-circle-info"></i>
                </a>
                <div class="hid">Details</div>
            </div>
            
            <div class="pop-container">
                <a href="http://localhost:8080/posts/<%= post.id %>/edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <div class="hid">Edit</div>
            </div>
            
        </div>

        <form method="post" action="/posts/<%= post.id %>?_method=DELETE" >
            <div class="pop-container">
                <button class="btn btn-danger delete"><i class="fa-solid fa-trash">
                </i>
                </button>
                <div class="hid">Delete</div>
            </div>
           
        </form>
    </div>
    <% } %>
    <script>
        let count = 1;
        let bd = document.querySelector("body");
        let theme = document.querySelector(".theme");
        let heading = document.querySelector("h1");
        let posts = document.querySelector(".post");
        let user = document.querySelector(".user")
        theme.addEventListener("click", function () {
        count++;
        console.log(count);
    
        // Toggle theme based on count
        if (count %2== 0) {
            bd.style.backgroundColor =`#ffbdbf`;
            heading.style.color =`#ff6b81`;
            posts.style.backgroundColor= `#f9909f`;
            user.style.backgroundColor= `#ff6b81`;

            
        } else {
            bd.style.backgroundColor = '#D1F8EF';
            heading.style.color =`#3674B5`;
            posts.style.backgroundColor= `#A1E3F9`;
            user.style.backgroundColor= `#578FCA`;


        }
    });

    </script>
</body>
</html>
