<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Posts</title>
</head>
<body>
    <h1>NOTES</h1>
    <% for(post of posts){ %>
        <div class="post">
            <div class="user">
                <h3> <%= post.username %></h3>
            </div>
            <div class="content">
                <h4> <%= post.content %></h4>
            </div>
        <br>
        <div class="achor">
            <a href="http://localhost:8080/posts/<%= post.id %>">Detail</a>
            <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a>
        </div>

        <form method="post" action="/posts/<%= post.id %>?_method=DELETE" >
            <button class="btn btn-danger">DELETE</button>
        </form>
    </div>
    <% } %>
        <br>
        <br>
        <a href="http://localhost:8080/posts/new">Create New Note</a>
</body>
</html>
